body {
    background-color: #12233d;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
}

.container {
    max-width: 1280px;
    margin: 30px auto;
    padding: 20px;
    background-color: #1a2a4e;
    border-radius: 8px;
    text-align: justify;
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: 700;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #0e1a33;
    border-radius: 8px;
}

a {
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s;
    background: #004b8d;
    padding: 10px 15px;
    text-align: center;
    margin: 12px;
}

a:hover {
    background: #003366;
}

.filter-item {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    margin: 5px;
}

.active-filter {
    background: #007bff;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 4px;
}

input[type="text"] {
    max-width: 200px;
    flex-grow: 1;
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    margin: 5px 0;
}

input[type="text"]:focus {
    border-color: #005b63;
}

/* Add styles for the dropdown menu */
.class-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    background-color: #1a2a4e;
    color: #ffffff;
}

.delete-button {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    padding: 8px 12px;
}

.delete-button:hover {
    background-color: #c0392b;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 0;
}

.itemBox {
    border: none;
}

section ul li {
    list-style: none;
    background: #004b8d;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

section ul li.active {
    background: #ffc107;
}

section ul li:hover {
    background: #003366;
}

.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 1.8rem;
}

.edit-button {
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    justify-items: center;
}

.edit-button:hover {
    background-color: #e0a800;
}

/* Add styles for the marks input element */
input[type="number"]#marksInput {
    max-width: 50px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background-color: #1a2a4e;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
}
